<div id="footer" class="col-md-12 col-sm-12 col-xs-12 mrgtop1">
  <div class="container">
   <div class="row">
     <div class="col-lg-6">
        <ul class="footerlink">
          <li><a href="//www.sensoryhealthsystems.com/terms-of-use/" onclick="window.open(this.href); return false;" >Terms of Service</a></li>
          <li><a href="//www.sensoryhealthsystems.com/introduction/" onclick="window.open(this.href); return false;">Privacy Policy</a></li>
        </ul>
     </div>
     <div class="col-lg-6"><div class="copyright">Copyright 2014 Sensory Health Systems . All rights reserved.</div></div>
   </div>
   </div>
 </div>
