     <!-- Build charting template starts-->
            <div class="tab-pane" id="new_charting_template">
                <div class="tab_box">
                  <div class="tab-content">
                    <div class="table-responsive">
                      <div class="panel panel-default"> 
                        <div class="panel-heading">Create New Charting Template
                          <i class="uservoice" id="back_to_charting_build">
                            <span title="Back to Charting Template" class="glyphicon glyphicon-arrow-left">Back</span>
                          </i>
                        </div>
                        <div class="row">
                          <div class="col-lg-12 Premrg">
                            <div class="col-lg-3 col-md-2 col-xs-12 Premrg1"> Template Name*</div>
                            <div class="col-lg-9 col-md-5 col-xs-12 Premrg1">
                              <div class="input-group inp-width">
                                <input type="text" name="cplan_name" id="new_charting_template_name" class="form-control">
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-12 Premrg">
                            <div class="col-lg-3 col-md-2 col-xs-12 Premrg1"> Specialization*</div>
                            <div class="col-lg-9 col-md-5 col-xs-12 Premrg1">
                              <div class="from-group from-width">
                                
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-12 Premrg ct-section-parentdiv">
                            <table class="table charting_template_field_table">
                              <thead>
                                <tr style="text-align: center;">
                                  <th width="50%" style="text-align: center;">Field Name</th>
                                  <!-- <th width="25%" style="text-align: center;">Response Type</th> -->
                                  <th width="50%" style="text-align: inherit;">Form</th>
                                </tr>
                              </thead>
                              <tbody class="maintbody">
                              </tbody>
                            </table>
                          </div>
                          <div class="col-lg-12 mrg6" style="width: 200px; margin-left: 150px;" id = "add-new-field-parent">
                          <span class="label label-warning pointer" rev="" index="" id="add_new_fields">Add New Fields</span>
                          </div>
                          <div class="col-lg-12 mrg6 text-center">
                            <button rev="" index="" id="save_new_charting_template" class="btn btn-warning">Save Template</button>
                            <button class="btn btn-warning" id="save_publish_new_charting_template" index="" rev="">Save & Publish</button>
                          </div>
                          <div class="col-lg-12 mrg6" style="margin-left: 13px;">
                            <h2 style="margin-top: 0px; margin-bottom: 0px; height: 10px; color: rgb(235, 134, 19);"> Steps to Follow</h2><hr style="margin-top: 22px; margin-bottom: 3px; color: rgb(235, 134, 19);">
                            <span style="color:#eb8613">Step 1 :</span> Enter the name of the Template name.<br>
                            <span style="color:#eb8613">Step 2 :</span> Enter the specialization.<br>
                            <span style="color:#eb8613">Step 3 :</span> Create the charting Template . Tip : Keep adding all the fields in the charting template till you are done.<br>
                            <span style="color:#eb8613">Step 4 :</span> Save (Visible only in your practice)  Save&amp; Publish (Visible for the entire community. The more everyone shares, the more everyone benefits)<br>
                          </div>
                        </div>
                      </div> 
                    </div>
                  </div>  
                </div>
              </div>
              <!-- Build charting template ends-->