<!-- <div class="tab-pane row" id="lab_results">
  <h2 class="mytitle">E-Labs Ordering &nbsp; Results</h2>
  <div class="row ChoiceWrapper">
    <div id="electronic_lab_ordering_link" class="col-md-4 ChoiceText ChoiceTextActive">Electronic Lab Ordering</div>
    <div class="col-md-4 ChoiceLineSep"></div>
    <div id="view_orders_link" class="col-md-4 ChoiceText">View / Cancel Order</div>
    <div class="col-md-4 ChoiceLineSep"></div>
    <div id="lab_results_inner_link" class="col-md-4 ChoiceText ">Lab Result</div>
    <div class="col-md-4 ChoiceLineSep"></div>
    <!-- <div id="other_doc_link" class="col-md-4 ChoiceText">Other/Video</div> 
  </div>
  <!-- <div class="col-md-12 col-sm-12 col-xs-12 paddside">
    <ul class="nav nav-tabs sub-teb-set" role="tablist">
      <li class="active"><a id="lab_results_inner_link" class="pointer">Lab Results</a></li>
      <li><a id="other_doc_link" class="pointer">Other/Video</a></li>
      <li><a id="electronic_lab_ordering_link" class="pointer">Electronic Lab ordering</a></li>
      <!-- <li><a id="electronic_lab_imaging_link" class="pointer">Electronic Lab Imaging</a></li> -->
      <!-- <li><a id="view_orders_link" class="pointer">View Orders</a></li>
    </ul>
  </div> 
  <div class="tab-content">
    <div class="tab-pane active" id="lab_results_inner" style="border:none;">
      <div class="labmain">
        <div class="col-md-12">
          <div class="row category-list-cards">
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 center section_row">
              <div class="category-list-card overview">
                <div class="category-card-img">
                  <img src="images/donate_blood-128.png">
                </div>
                <div class="category-card-name text-center">
                  <h4>Blood</h4>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 center section_row">
              <div class="category-list-card overview">
                <div class="category-card-img">
                  <img src="images/kidney-128.png">
                </div>
                <div class="category-card-name text-center">
                  <h4>Kidneys &amp; Electrolytes</h4>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 center section_row">
              <div class="category-list-card overview">
                <div class="category-card-img">
                  <img src="images/31-128.png">
                </div>
                <div class="category-card-name text-center">
                  <h4>Nutrients</h4>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 center section_row">
              <div class="category-list-card overview">
                <div class="category-card-img">
                  <img src="images/85-128.png">
                </div>
                <div class="category-card-name text-center">
                  <h4>Liver</h4>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 center section_row">
              <div class="category-list-card overview">
                <div class="category-card-img">
                  <img src="images/body-42-128.png">
                </div>
                <div class="category-card-name text-center">
                  <h4>Sugars &amp; Digestion</h4>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 center section_row">
              <div class="category-list-card overview">
                <div class="category-card-img">
                  <img src="images/1109-brain-128.png">
                </div>
                <div class="category-card-name text-center">
                  <h4>Hormones</h4>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 center section_row">
              <div class="category-list-card overview">
                <div class="category-card-img">
                  <img src="images/Disease_bladder-128.png">
                </div>
                <div class="category-card-name text-center">
                  <h4>Thyroid</h4>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 center section_row">
              <div class="category-list-card overview">
                <div class="category-card-img">
                  <img src="images/31-128.png">
                </div>
                <div class="category-card-name text-center">
                  <h4>Inflammation &amp; Autoimmunity</h4>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 center section_row">
              <div class="category-list-card overview">
                <div class="category-card-img">
                  <img src="images/31-128.png">
                </div>
                <div class="category-card-name text-center">
                  <h4>Clotting</h4>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 center section_row">
              <div class="category-list-card overview">
                <div class="category-card-img">
                  <img src="images/673292-lab_chemistry_test-tube-128.png">
                </div>
                <div class="category-card-name text-center">
                  <h4>Specialized Tests</h4>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 center section_row">
              <div class="category-list-card overview">
                <div class="category-card-img">
                  <img src="images/Virology-128.png">
                </div>
                <div class="category-card-name text-center">
                  <h4>Infection</h4>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 center section_row">
              <div class="category-list-card overview">
                <div class="category-card-img">
                  <img src="images/53-128.png">
                </div>
                <div class="category-card-name text-center">
                  <h4>Urine</h4>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 center section_row">
              <div class="category-list-card overview">
                <div class="category-card-img">
                  <img src="images/folder-128.png">
                </div>
                <div class="category-card-name text-center">
                  <h4>Other Exams</h4>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 center section_row">
              <div class="category-list-card overview">
                <div class="category-card-img">
                  <img src="images/folder-128.png">
                </div>
                <div class="category-card-name text-center">
                  <h4>Other / Video</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane" id="lab_results_inner_category" style="border:none;">
      <div class="row">
        <div class="col-md-12 ChoiceContainer" style="margin-top: 0px;">
          <div class="row">
            <div class="col-md-12 OtherExamsTitle">
              <span id="labmain_img"></span>
              <span id="labmain_title"></span>
              <span id="lab_results_back_button" class="glyphicon glyphicon-arrow-left" style="float:right; line-height: 40px">Back</span>
            </div>
            <div class="col-md-12 ContentWrapper">
              <div class="row lab-result-hide">
                <div class="col-md-4">
                  <div class="row SearchCheck">
                    <div class="col-md-12 SearchTextBoxWrapper">
                      <input placeholder="Search Lab Results here..." class="SearchTextBox" id="lab_result_search">
                    </div>
                    <div class="col-md-12 ORText">OR</div>
                    <div class="col-md-12">
                      <select id="all_lab_results_options" class="CheckBoxContainer">
                        <option value="volvo">Select Action</option>
                      </select>
                    </div>
                  </div>
                  <div class="row MostRacentTest">
                    <div class="col-md-12 MostRacentTestTitle"><span class="glyphicon glyphicon-list-alt"></span><span style="margin-left: 6px;">Most recent tests</span></div>
                    <div class="col-md-12">
                      <div id="recent_lab_results" class="row">
                      </div>
                      <div class="ArrowRight"></div>
                    </div>
                  </div>
                </div>
                <div class="col-md-8 ContentPanel" style="height: inherit;">
                  <div id="no_image" class="no-image">No Lab Results Selected.</div>
                  <img style="display:none;height:inherit;width: inherit;" id="lab_result_image" src="" alt="No report Selected">
                  <div style="background-color: rgb(255, 255, 255); height: inherit; display: none;" id="lab_result_pdf" class="media"></div>
                </div>
              </div>
              <div class="row lab-result-hide">
                <div class="col-lg-12">
                  <div class="col-lg-12 labdetails" id="labdetails"></div>
                  <table class="table tbl-border lab_result_medical_details" style="display:none" id="lab_result_medical_details">
                    <tbody>
                    </tbody>
                  </table>    
                </div>
              </div>
              <div class="row" id="otherVideoShow" style="display:none">
                <div class="col-md-12">
                  <table class="table" id="other_docs_table">
                    <thead>
                      <tr>
                        <th width="20%" class="text-align">Other/Video</th>
                        <th width="60%" class="text-align">Document Name</th>
                        <th width="20%" class="text-align">Doctor</th>
                        <th class="text-align"></th>
                      </tr>
                    </thead>
                    <tbody>
                    </tbody>
                  </table>
                  <div class="col-lg-12 pagination-align" style="margin-top: 5px;" id="other_videos_pagination"></div>
                </div>
              </div>
            </div>
            <div class="col-md-12 lab-result-hide" id="lab_result_comment">
              <div class="row CommentPanel">
                <div class="col-md-12 CommentsTitle">Comments</div>
                <div class="col-md-10 mrgtop1">
                  <textarea id="doctor_comment" style="0" class="col-md-12 CommentInput" placeholder="Comment..."></textarea>
                </div>
                <div class="col-lg-2" style="margin-top: 20px;"><button id="doctor_comment_save" class="btn btn-warning doctor_comment_save">Save and Send</button></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane" id="electronic_lab_ordering" style="border:none; padding-top:10px;">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <form class="form-inline " role="form">
            <div class="main_box">
              <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
                <div class="form-group  ">
                  <label for="select-multi-input">Order#</label>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="form-group full-input">
                  <input type="text" id="lo_order_number" class="form-control">
                </div>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
                <div class="form-group ">
                  <label for="select-multi-input">Type</label>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="form-group full-input">
                  <select id="lo_type" type="text" class="form-control placeholder-no-fix mrg5">
                    <option value="Select Order">Select Order</option>
                    <option value="LabOrder">Lab Order</option>
                    <option value="ImagingOrder">Imaging Order</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="main_box">
              <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
                <div class="form-group ">
                  <label for="select-multi-input">Referred-by* :</label>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="form-group full-input">
                  <input type="text" id="lo_referred_by" class="form-control">
                </div>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
                <div class="form-group ">
                  <label for="select-multi-input">Date* :</label>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="form-group full-input">
                  <input type="text" id="lo_date" placeholder="YYYY-MM-DD" class="form-control datetime-with-mintoday lo-date-width">
                </div>
              </div>
            </div>
            <div class="main_box">
              <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
                <div class="form-group">
                  <label for="select-multi-input">Patient Name* :</label>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="form-group full-input">
                  <input type="text" id="lo_patient_name" class="form-control">
                </div>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
                <div class="form-group ">
                  <label for="select-multi-input">Patient DHP ID* :</label>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="form-group full-input">
                  <input type="text" id="lo_patient_dhp_id" class="form-control">
                </div>
              </div>
            </div>
            <div class="main_box">
              <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
                <div class="form-group">
                  <label for="select-multi-input">Age* :</label>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="form-group full-input">
                  <input type="text" class="form-control" id="lo_age">
                </div>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
                <div class="form-group">
                  <label for="select-multi-input">Gender* :</label>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="form-group full-input">
                  <select class="form-control placeholder-no-fix mrg5" type="text" id="lo_gender">
                    <option>Male</option>
                    <option>Female</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="main_box">
              <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
                <div class="form-group">
                  <label for="select-multi-input">Laboratory* :</label>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="form-group full-input">
                  <select class="form-control placeholder-no-fix mrg5" type="text" id="lo_laboratory">
                    <option>No Labs</option>
                  </select>
                </div>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
                <div class="form-group">
                  <label for="select-multi-input">Tests* :</label>
                </div>
              </div>
              <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                <div class="form-group">
                  <select multiple="multiple" class="form-control placeholder-no-fix my_multiselect" type="text" id="lo_tests">
                    <optgroup label="Urine Test">
                      <option>Albumin</option>
                      <option>Sugar</option>
                      <option>Microscopy</option>
                      <option>Bile salt</option>
                      <option>Bile pigments</option>
                      <option>Urobilinogen</option>
                      <option>Ketone Bodies</option>
                      <option>BenceJones Protein</option>
                      <option>Specific Gravity</option>
                      <option>Pregnancy Test</option>
                      <option>Complete Urine examination</option>
                    </optgroup>
                    <optgroup label="Hematology">
                      <option>Hb/TC/DC/ESR</option>
                      <option>Prothrombin time</option>
                      <option>Absolute Eosinophil count</option>
                      <option>Blood Group : ABO</option>
                      <option>Blood Group : Rh</option>
                      <option>Blood Picture (Peripheria smear)</option>
                      <option>Platelet Count</option>
                      <option>Absolute Eosinophil Count</option>1
                    </optgroup>
                    <optgroup label="MP/MF">
                      <option>BT,CT</option>
                      <option>PT,APT</option>
                    </optgroup>
                    <optgroup label="Infective profile">
                      <option>Tridot</option>
                      <option>HBS AG,HCV</option>
                      <option>Widal</option>
                      <option>PS for MP</option>
                      <option>PF/PV Antigen</option>
                      <option>VDRL</option>
                    </optgroup>
                    <optgroup label="BONE&amp;Joint Profile">
                      <option>RA Test</option>
                      <option>ALK Phosphatase</option>
                      <option>C Reactive Protein</option>
                      <option>ESR</option>
                      <option>Urine for BJP</option>
                      <option>ASO</option>
                    </optgroup>
                    <optgroup label="Diabetic Profile">
                      <option>Fasting Blood Sugar</option>
                      <option>Random Blood Sugar</option>
                      <option>Post Pranidal Blood Sugar</option>
                      <option>Micro Albuminuria</option>
                      <option>Glyco Hb AIC</option>
                      <option>Serum Cholesterol</option>
                      <option>Serum Triglycerides</option>
                      <option>HDL/LDL/VLDL</option>
                    </optgroup>
                    <optgroup label="Renal Profile">
                      <option>Blood Urea</option>
                      <option>Serum Creatinine</option>
                      <option>Serum Uric Acid</option>
                      <option>Serum Electrolytes</option>
                    </optgroup>
                    <optgroup label="Liver Profile">
                      <option>Serum Bilirubin</option>
                      <option>ALK Phosphatase</option>
                      <option>SGOT</option>
                      <option>SGPT</option>
                      <option>A/G Ratio</option>
                      <option>HBS.Ag.</option>
                    </optgroup>
                    <optgroup label="M.I. Profile">
                      <option>CK-MB</option>
                      <option>SGOT</option>
                      <option>LDH</option>
                      <option>Triponin-T</option>
                    </optgroup>
                    <optgroup label="Lipid Profile">
                      <option>Lipid Profile</option>
                    </optgroup>
                    <optgroup label="Others">
                      <option>Stool-OVA</option>
                      <option>Stool-Cysts</option>
                      <option>Stool-Occult Blood</option>
                      <option>Sputum AFB</option>
                    </optgroup>
                    <optgroup label="Montoux Test">
                      <option>T3 T4 TSH</option>
                    </optgroup>
                    <optgroup label="S.Amylase">
                      <option>S.Amylase</option>
                    </optgroup>
                    <optgroup label="ECG">
                      <option>ECG</option>
                    </optgroup>
                    <optgroup label="Serum Electrolytes">
                      <option>Serum Electrolytes</option>
                    </optgroup>
                  </select>
                </div>
              </div>
            </div>
            <div class="main_box">
              <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
                <div class="form-group">
                  <label for="select-multi-input">Instructions to Lab/Imaging Order</label>
                </div>
              </div>
              <div class="col-lg-10 col-md-4 col-sm-4 col-xs-12">
                <div class="form-group full-input">
                  <textarea id="lo_instructions" class="form-control" type="text"></textarea>
                </div>
              </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
              <div class="form-group">
                <button class="btn btn-warning" id="lo_save" type="button">Save &amp; Send</button>
                <button class="btn btn-warning" id="lo_save_print" type="button">Save &amp; Print</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="tab-pane" id="electronic_lab_imaging" style="border:none; padding-top:10px;">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <form class="form-inline " role="form">
            <div class="main_box">
              <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
                <div class="form-group  ">
                  <label for="select-multi-input">Order#:</label>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="form-group full-input">
                  <input type="text" class="form-control" id="io_order_number">
                </div>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
                <div class="form-group">
                  <label for="select-multi-input">Patient Name:</label>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="form-group full-input">
                  <input type="text" class="form-control" id="io_patient_name">
                </div>
              </div>
            </div>
            <div class="main_box">
              <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
                <div class="form-group ">
                  <label for="select-multi-input">Referred-by:</label>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="form-group full-input">
                  <input type="text" class="form-control" id="io_referred_by">
                </div>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
                <div class="form-group ">
                  <label for="select-multi-input">Patient DHP ID:</label>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="form-group full-input">
                  <input type="text" class="form-control" id="io_patient_dhp_id">
                </div>
              </div>
            </div>
            <div class="main_box">
              <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
                <div class="form-group ">
                  <label for="select-multi-input">Date:</label>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="form-group full-input">
                  <input type="text" class="form-control datetime lo-date-width" id="io_date" placeholder="YYYY-MM-DD">
                </div>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
                <div class="form-group">
                  <label for="select-multi-input">Imaging Center:</label>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="form-group full-input">
                  <select class="form-control placeholder-no-fix mrg5" type="text" id="io_imaging_center">
                    <option>No Imaging Center</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="main_box">
              <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
                <div class="form-group">
                  <label for="select-multi-input">Age:</label>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="form-group full-input">
                  <input type="text" class="form-control" id="io_age">
                </div>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
                <div class="form-group">
                  <label for="select-multi-input">Gender:</label>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="form-group full-input">
                  <select class="form-control placeholder-no-fix mrg5" type="text" id="io_gender">
                    <option>Male</option>
                    <option>Female</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="main_box">
              <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
                <div class="form-group">
                  <label for="select-multi-input">Instructions to Imaging Order</label>
                </div>
              </div>
              <div class="col-lg-10 col-md-4 col-sm-4 col-xs-12">
                <div class="form-group full-input">
                  <textarea id="io_instructions" class="form-control" type="text"></textarea>
                </div>
              </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
              <div class="form-group">
                <label for="select-multi-input">Tests:</label>
              </div>
            </div>
            <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
              <div class="form-group">
                <select multiple class="form-control placeholder-no-fix mrg5 my_multiselect" type="text" id="io_tests">
                  <option>Blood sugar (Fasting , PPBS and Hba1C )</option>
                  <option>Lipid Profile</option>
                  <option>CBCESR</option>
                  <option>Serum Creatinine. Blood Urea Nitrogen.</option>
                  <option>Urine routine and Microscopic examination </option>
                  <option>SGPT (Liver Function)</option>
                  <option>S Uric Acid</option>
                  <option>Stool Examination</option>
                  <option>Thyroid Function ( T3)</option>
                  <option>Thyroid Function ( T4/TSH)11) Vitamin B 12</option>
                  <option>Vitamin D3</option>
                  <option>Serum Calcium tests</option>
                  <option>CBC.</option>
                  <option>C-reactive protein.</option>
                  <option>Blood for Malarial Parasites.</option>
                  <option>S WidalTest (for typhoid)</option>
                  <option>Preoperative Major Profile</option>
                  <option>Preoperative Minor profile</option>
                  <option>Fever Profile</option>
                  <option>Basic Profile</option>
                </select>
              </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
              <div class="form-group">
                <button class="btn btn-warning" id="io_save" type="button">Save &amp; Send</button>
                <button class="btn btn-warning" id="io_save_print" type="button">Save &amp; Print</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="tab-pane" id="view_orders_content" style="border:none; padding-top:10px;">
      <div class="col-md-12">
        <table class="table" id="view_orders_table">
          <thead>
            <tr>
              <th width="1%"></th>
              <th width="1%" class="text-align">Imaging/Lab</th>
              <th width="1%" class="text-align">Order Number</th>
              <th width="25%" class="text-align">Order Type</th>
              <th width="25%" class="text-align">Tests</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
        <div class="col-lg-12 pagination-align" style="margin-top: 5px;" id="view_orders_pagination"></div>
      </div>
    </div>
    <div class="tab-pane" id="other_doc" style="border:none; padding-top:10px;">
     <!--  <div class="col-md-12">
        <table class="table" id="other_docs_table">
          <thead>
            <tr>
              <th width="20%" class="text-align">Other/Video</th>
              <th width="60%" class="text-align">Document Name</th>
              <th width="20%" class="text-align">Doctor</th>
              <th class="text-align"></th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
        <div class="col-lg-12 pagination-align" style="margin-top: 5px;" id="other_videos_pagination"></div>
      </div> 
    </div>

  </div>
</div>
 -->
