
            <div class="tab-pane" id="e_prescribe">
              <h2 class="mytitle">E-Prescribe</h2>
              <div class="tab_box">
                <div class="panel panel-default e-prescribe_panel">
                  <div class="panel-heading">E-Prescribe
                    <i class="uservoice pd_back" id="">
                      <span class="glyphicon glyphicon-arrow-left">Back</span>
                    </i>
                  </div>
                  <br />
                 
                  <div class="row">
                    <div class="col-sm-12">
                     <div class="col-sm-1">
                       <div class="checkbox">
                         <input class="checkshow" type="checkbox" id="update_existing_medications">
                       </div>
                     </div>
                     <div class="col-sm-11">
                       <label>E-prescribe or Update existing medications</label>
                     </div>
                    </div>

                    <div class="col-sm-12">
                     <div class="col-sm-1">
                       <div class="checkbox">
                         <input class="checkshow" type="checkbox" id="send_an_rx_directly">
                       </div>
                     </div>
                     <div class="col-sm-11">
                       <label>Send an Rx directly to a patient's preferred pharmacy</label>
                     </div>
                    </div>

                    <div class="col-sm-12">
                     <div class="col-sm-1">
                       <div class="checkbox">
                         <input class="checkshow" type="checkbox" id="push_medications">
                       </div>
                     </div>
                     <div class="col-sm-11">
                       <label>Push medications to mobile app in patient smartphone</label>
                     </div>
                    </div>

                    <div class="col-lg-12 mrg8 text-center">
                      <button class="btn btn-warning" type="button" id="save_e_prescribe" ng-click="saveEprescribe();">Save</button>
                    </div>
                 </div>
                </div>
              </div>
            </div>
