<div class="container-parent">
 <div class="gray_bg_wrraper">
  <div class="container">
  <div class="row">
   <div id="header">
    <div class="row">
     <div class="col-lg-3 col-xs-12 col-sm-3 logo"><img src="images/logo.png" alt="Logo" title="Logo" /></div>
     <div class="col-lg-4 col-xs-12 col-sm-7 pull-right nav-top-mar padd">
      <nav role="navigation" class="navbar navbar-default navbar-static" id="navbar-example">
       <div class="container-fluid">
        <div class="navbar-header">
         <button data-target=".bs-example-js-navbar-collapse" data-toggle="collapse" type="button" class="navbar-toggle collapsed"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
         <a href="#" class="navbar-brand">Menu</a>
        </div>
        <div class="navbar-collapse bs-example-js-navbar-collapse collapse" style="height: 1px;">
         <ul class="nav navbar-nav">
          <li class="dropdown"><a role="button" href="#telemedicine" id="drop1">Telemedicine</a></li>
          <li class="dropdown"> <a role="button" href="signup.html">Sign Up</a></li>
         </ul>
        </div>
       </div>
      </nav>
     </div>
    </div>
   </div>
   </div>
   <div class="row">
    <div class="col-lg-7 col-sm-12 col-xs-12">
      <div class="banner-login-part banner-topmar">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
         <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
         </ol>
       
         <div class="carousel-inner">
          <div class="item active">
            <img src="images/banner.gif" class="img-responsive" alt="Banner"/>
          </div>
          <div class="item">
            <img src="images/banner.gif" class="img-responsive" alt="Banner"/>
          </div>
          <div class="item">
            <img src="images/banner.gif" class="img-responsive" alt="Banner"/>
          </div>
         </div>
       
         <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
         </a>
         <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
         </a>
        </div>
      </div>
    </div>
    <div class="col-lg-1 padd"></div>
    <div class="col-lg-4 col-sm-12 col-xs-12 padd">
     <div class="login_here banner-topmar">
      <h2>Login here</h2>
      <h5 align="center" class="text-danger" id="validationtext"></h5>
      <form>
       <div class="form-group">
        <label class="control-label visible-ie8 visible-ie9">Email</label>
        <div class="input-icon"> <span class="glyphicon glyphicon-user"></span>
         <input type="text" name="Username or email" placeholder="Email" autocomplete="off" class="form-control placeholder-no-fix enter" tabindex="1" id="username">
        </div>
       </div>
       <div class="form-group"> 
        <label class="control-label visible-ie8 visible-ie9">Password</label>
        <div class="input-icon"> <span class="glyphicon glyphicon-wrench"></span>
         <input type="password" tabindex="2" name="Password" placeholder="Password" autocomplete="off" class="form-control placeholder-no-fix enter" id="Password">
        </div>
       </div>
       <div class="checkbox">
        <label>
         <input class="checkshow" type="checkbox" id="rememberme" tabindex="4">
         Remember me 
        </label>
       </div>
       <div class="forgetpass"><a data-toggle="modal" data-target="#forgot_password" class="active" tabindex="5">Forgot Password?</a> </div>
       <div class="form-group">
        <button class="btn btn-warning" type="button" id="Login" tabindex="3">Login</button>
       </div>
      </form>
     </div>
    </div>
   </div>
  </div>
 </div>
 <div class="white-bg" id="telemedicine">
  <div class="container">
   <div class="row">
    <div class="col-lg-7">
      <div style="position:absulute" id="carousel-example-generic2" class="carousel slide" data-ride="carousel">
       <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
       </ol>
      
       <div class="carousel-inner">
        <div class="item active">
          <img src="images/telemedicine_bnr.jpg" class="img-responsive" alt="Banner" title="Banner" />
        </div>
        <div class="item">
          <img src="images/telemedicine_bnr.jpg" class="img-responsive" alt="Banner" title="Banner" />
        </div>
        <div class="item">
          <img src="images/telemedicine_bnr.jpg" class="img-responsive" alt="Banner" title="Banner" />
        </div>
       </div>
      
       <a class="left carousel-control" href="#carousel-example-generic2" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
       </a>
       <a class="right carousel-control" href="#carousel-example-generic2" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
       </a>
      </div>
    </div>
    <div class="col-lg-5">
     <div class="mid-part-sec paddtp">
      <h4>News from <b>SHS</b> Labs <span class="glyphicon glyphicon-plus"></span></h4>
      <p></p>
      <a href="http://www.sensoryhealthsystems.com/telecare/">Get your health issue answered</a> </div>
    </div>
   </div>
  </div>
 </div>
 <div class="white-bg">
  <div class="container">
   <div class="row">
    <div class="col-lg-5">
     <div class="mid-part-sec paddtp">
      <h4>Disease Alerts<span class="glyphicon glyphicon-plus"></span></h4>
      <p>Outbreak near me</p>
      <a href="#">Report an outbreak</a> </div>
    </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-6 map_pic"> <img src="images/map-img.gif" alt="" class="img-responsive map-img-top" /></div>
   </div>
  </div>
 </div>
</div>