<div class="common-ui-view" ui-view="menu"></div>
<div class="tab-pane row" id="prepare_referral">
  <h2 class="mytitle">Prepare Referral</h2>
  <div class="tab_box">
    <div class="panel panel-default">
      <div class="panel-heading">
        Prepare Referral
      </div>
      <div class="row">
        <div class="col-lg-12 Premrg">
          <div class="col-lg-4"><b>Refer to:</b></div>
        </div>
        <div class="col-lg-12 Premrg">
          <div class="col-lg-2 col-md-2 col-xs-12 Premrg1">Dear</div>
          <div class="col-lg-10 col-md-10 col-xs-12 Premrg1">
            <input type="text" id="referral_doctor" autocomplete="off" class="form-control parsley-validated">
            <input type="hidden" id="referral_doctor_id" class="form-control parsley-validated">
          </div>
        </div>
        <div class="col-lg-12 Premrg">
          <div class="col-lg-12 col-md-12 col-xs-12 Premrg1">
            <label for="select-multi-input">Introduction</label>
            <textarea type="text" name="referral_introduction" id="referral_introduction" class="form-control parsley-validated mrg5" autocomplete="off"></textarea>
          </div>
        </div>
        <div class="col-lg-12 Premrg">
          <div class="col-lg-12 col-md-12 col-xs-12 Premrg1">
            <label for="select-multi-input">Conclusion</label>
            <textarea type="text" name="referral_conclusion" id="referral_conclusion" class="form-control parsley-validated mrg5" autocomplete="off"></textarea>
          </div>
        </div>
        <div class="col-lg-12 Premrg">
          <div class="col-lg-6 col-md-6 col-xs-12 Premrg1 textaline">Sincerly,</div>
          <div class="col-lg-6 col-md-6 col-xs-12 Premrg1">
            <input type="text" name="referral_sincerly" id="referral_sincerly" class="form-control parsley-validated" autocomplete="off">
          </div>
        </div>
        <div class="col-lg-12 Premrg">
          <div class="col-lg-2 col-md-2 col-xs-12 Premrg1 textaline">Chart Notes</div>
          <div class="col-lg-10 col-md-10 col-xs-12 Premrg1">
            <select class="form-control" id="referral_chart_notes" type="text">
              <option>No Chart Note</option>
            </select>
          </div>
        </div>
        <div class="col-lg-12 Premrg">
          <div class="col-lg-2 col-md-2 col-xs-12 Premrg1"></div>
          <div class="col-lg-3 col-md-3 col-xs-12 Premrg1">
            <div class="chartnote"><span><input name="clinical_summary" id="clinical_summary" type="checkbox" value="" /></span>Clinical summary</div>
          </div>
          <div class="col-lg-5 col-md-5 col-xs-12 Premrg1">
            <div class="chartnote"><span><input name="referral_by_fax" id="referral_by_fax" type="checkbox" value="" /></span>Also send referral by fax</div>
          </div>
        </div>
        <div class="col-lg-12 mrg8 text-center">
          <button class="btn btn-default mrg7" id="referral_send_print" type="button">Save &amp; Print</button>
          <button class="btn btn-warning" id="referral_send" type="button">Send</button>
        </div>
      </div>
    </div>
  </div>
</div>
