<div class="tab-pane row" id="telemedicine_tab">
  <h2 class="mytitle">Telemedicine</h2>
  <div class="tab_box">
    <div class="main_div">
      <div class="main_div_in">
        <div class="con_inmain">
          <table class="table" id="telemedicine_table">
            <thead>
              <tr>
                <th>Submit Date</th>
                <th>Category</th>
                <th>Question</th>
                <th>Answered_by</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
