<!-- <div class="common-ui-view" ui-view="dd-menu"></div>
<div class="tab-pane" id="refer_a_doc" style="display:block;">
  <div class="tab_box">
    <div class="panel panel-default">
      <div class="panel-heading">Refer a doc</div>
      <div class="row choiceCont">
        <div id="refer_a_doc_link" class="col-md-4 ChoiceText ChoiceTextActive">Refer a Doc</div>
        <div class="col-md-4 ChoiceLineSep"></div>
        <div id="refered_summary_link" class="col-md-4 ChoiceText">Refered Summary</div>
      </div>
       <ul class="nav nav-tabs sub-teb-set" role="tablist">
        <li class="active"><a id="refer_a_doc_link" class="pointer">Refer a Doc</a></li>
        <li><a id="refered_summary_link" class="pointer">Refered Summary</a></li>
      </ul> -->
     <!--  <div class="tab-content">
        <div class="tab-pane" id="refer_a_doc_tab"> 
          <div class="row">
            <div class="col-lg-12 Premrg">
              <div class="col-lg-3 col-md-3 col-xs-12 Premrg1">Recipient Email address</div>
              <div class="col-lg-9 col-md-9 col-xs-12 Premrg1">
               <input type="text" class="form-control parsley-validated" id="rd_doctor_email">
              </div>
            </div>
            <div class="col-lg-12 Premrg">
              <div class="col-lg-2 col-md-2 col-xs-12 Premrg1">Dear</div>
              <div class="col-lg-10 col-md-10 col-xs-12 Premrg1">
               <input type="text" class="form-control parsley-validated" id="rd_doctor_name">
              </div>
            </div>

            <div class="col-lg-12 Premrg">
              <div class="col-lg-12 col-md-12 col-xs-12 Premrg1">
                <label for="select-multi-input">Introduction</label>
                <textarea type="text" class="form-control parsley-validated mrg5" id="rd_introduction"></textarea>
              </div>  
            </div>
              
            <div class="col-lg-12 Premrg">
              <div class="col-lg-6 col-md-6 col-xs-12 Premrg1 textaline">Sincerly,</div>
              <div class="col-lg-6 col-md-6 col-xs-12 Premrg1">
                <input type="text" class="form-control parsley-validated" id="rd_sincerly">
              </div>  
            </div>

            <div class="col-lg-12 mrg8 text-center">
              <button class="btn btn-warning"type="button" id="rd_save">Send</button>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="refered_summary_tab">
          <div>
            <table class="table tbl-border" id="refer_summary_list">
              <thead>
                <tr>
                  <th class="text-align">Date</th>
                  <th class="text-align">Name</th>
                  <th class="text-align">Email</th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
            <div class="col-lg-12 pagination-align" style="margin-top: 5px;" id="refer_summary_list_pagination"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
 -->