<div class="common-ui-view" ui-view="dd-menu"></div>
<div class="tab-pane active row" id="telemedicine_inquiry_tab">
  <div class="tab_box">
    <div class="panel panel-default">
      <div class="panel-heading">Telemedicine Inquiries</div>
      <div class="main_div">
        <div class="main_div_in">
          <div>
            <table class="table tbl-border" id="telemedicine_inquiry_list">
              <thead>
                <tr>
                  <th class="text-align">Date</th>
                  <th class="text-align">Health Category</th>
                  <th class="text-align">Patient DHP</th>
                </tr>
              </thead>
              <tbody>
                <tr dir-paginate = "x in teledata.rows | itemsPerPage: 5" ng-show="teledata">
                  <td class="text-align"><span doc_id="{{x.doc._id}}" class="pointer telemedicine_row">{{(x.doc.update_ts ? x.doc.update_ts : x.doc.insert_ts) | limitTo:10}}</span></td><td class="text-align">{{x.doc.Health_Category}}</td><td class="text-align">{{x.doc.patient_dhp_id}}</td>
                </tr>
                <tr ng-show="!(teledata)">
                  <td class="text-align" colspan="3">No Inquiries Found.</td>
                </tr>
              </tbody>
            </table>
            <div class="col-lg-12 text-center" style="background:white none repeat scroll 0 0">
              <dir-pagination-controls></dir-pagination-controls>
            </div>
            <!-- <div class="col-lg-12 pagination-align" style="margin-top: 5px;" id="telemedicine_inquiaries_pagination"></div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
