 <div class="tab-pane" id="my_account">
              <h2 class="mytitle">Critical Patients</h2>
              <div class="tab_box">
                <div class="panel panel-default patients">
                  <div class="panel-heading">Your Patients
                    <i class="uservoice pd_back">
                      <span class="glyphicon glyphicon-arrow-left">Back</span>
                    </i>
                  </div>

                  <div class="search-bg-design">
                    <div class="row">
                      <div class="col-lg-12 col-md-12">
                        <div style="padding-left: 0px; padding-right: 0px;" class="col-lg-5 col-md-5">
                          <input type="text" class="top-form-control placeholder-no-fix" value="" autocomplete="off" placeholder="Search for patients by first name..." id="search_name" name="Name" >
                        </div>
                        <div class="col-lg-1 col-md-1 patient-search-lbl">OR</div>
                        <div class="col-lg-6 col-md-6 patient-search-dhpid">
                          <input type="text" style="" class="top-form-control placeholder-no-fix" value="" autocomplete="off" placeholder="Search By Patient DHP Id..." id="search_by_patient_dhp" name="DHP"> 
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  <h3 id="listheading"></h3>
                  <div class="main_div">
                    <div class="main_div_in">
                      <div class="con_inmain" id="criticalPatients"></div>
                    </div>
                  </div>
                  <div class="col-lg-12 pagination-align" style="margin-top: 5px;" id="critical_patient_list_pagination"></div>
                  <div class="main_div">
                    <h3 id="referredHeading"></h3>
                    <div class="main_div_in">
                      <div class="con_inmain" id="referredPatients"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>