<div class="center-con-box">
	<div class="patient_details pd">
    <div class="patitent-container">
      <div class="row">
        <div class="col-lg-2">
          <img id="userpic_edit" class="userpic userpic-align" alt="userpic" src="images/search-icon.png">
        </div>
        <div class="col-lg-3"><span class="glyphicon glyphicon-user cus-glyphicon" title="Patient Name"></span></div>
        <div class="col-lg-3"></div>
        <div class="col-lg-3">
    			tejas
	    	</div>
      </div>
    </div>
    	<!-- <div class="" style="float: left; width:82%;">
        <div class="row">
          <div class="" style="padding:0px 5px 5px;">
            <div class="row padd-seven cus650">
              <div class="col-md-3 col-sm-12 col-xs-12" style="">
                <div>
                  <div class="padd-five" id="mh_name_new"><span class="glyphicon glyphicon-user cus-glyphicon" title="Patient Name"></span></div>
                </div>
                
                <div>
                  <div class="padd-five" id="mh_date_of_birth_new"></div>
                  <div class="padd-five" id="mh_age" style="display:none"></div>
                </div>
              </div>
              <div class="col-md-2 col-sm-12 col-xs-12" style="padding-left: 0px;padding-right: 0px;">
                <div>
                  <div class="padd-five" id="mh_gender_new"></div>
                </div>
                <div>
                  <div class="padd-five"><span class="theme-color">BMI :: </span><span id="mh_BMI"></span></div>
                </div>
              </div>  
              <div class="col-md-3 col-sm-12 col-xs-12" style="padding-left: 0px;padding-right: 0px;width:193px;">
                <div>
                  <div class="padd-five"><span id="mh_patient_dhp_id"></span><span id="mh_patient_dhp_id_print" class="glyphicon glyphicon-print" style="margin-left:5px;"></span></div>
                </div>
                <div>
                  <div class="padd-five brk-word" id="mh_emailid"></div>
                </div>
              </div>  
              <div class="col-md-3 col-sm-12 col-xs-12" style="padding-left: 0px;padding-right: 0px;">
                <div>
                  <div class="padd-five" id="mh_phone_no"></span></div>
                </div>
                <div>
                  <div class="padd-five" id="mh_BloodGroup_new"></div>
                </div>                          
              </div>  
            </div>
          </div>
        </div>
      </div> -->
    <!-- </div> -->
  </div>
</div>