<style type="text/css">
  @font-face { font-family: 'open_sansregular'; src: url('../fonts/opensans-regular-webfont.eot'); src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans-regular-webfont.woff') format('woff'), url('../fonts/opensans-regular-webfont.ttf') format('truetype'), url('../fonts/opensans-regular-webfont.svg#open_sansregular') format('svg'); font-weight: normal; font-style: normal; }
  @font-face { font-family: 'open_sanssemibold'; src: url('../fonts/opensans-semibold-webfont.eot'); src: url('../fonts/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans-semibold-webfont.woff') format('woff'), url('../fonts/opensans-semibold-webfont.ttf') format('truetype'), url('../fonts/opensans-semibold-webfont.svg#open_sanssemibold') format('svg'); font-weight: normal; font-style: normal; }
  @font-face { font-family: 'geoslab703_md_btmedium'; src: url('../fonts/tt0308m_-webfont.eot'); src: url('../fonts/tt0308m_-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/tt0308m_-webfont.woff') format('woff'), url('../fonts/tt0308m_-webfont.ttf') format('truetype'), url('../fonts/tt0308m_-webfont.svg#geoslab703_md_btmedium') format('svg'); font-weight: normal; font-style: normal; }
  body { font-family: 'open_sansregular'; }
.paddside{padding-left:0px;padding-right:0px;}
.no-display{display: none !important}
.topnav {
    background: #70ad47;
    float: left;
    width: 100%;
    margin: 0 0 15px;
}
.topnav > ul {
    padding: 0 20px;
}
.topnav > ul > li {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    float: left;
    list-style: outside none none;
    margin: 0 -1px 0 0;
    text-align: center;
    width: 25%;
}

.topnav > ul > li > a {
    color: #fff;
    float: left;
    padding: 5px 0;
    text-decoration: none;
    width: 100%;
}
.topnav > ul > li > a:hover, .topnav > ul > li > a.active  {
    background: #f2bb5c;
}

.left-con-box {
    background: #eee none repeat scroll 0 0;
    padding: 15px;
}

.left-con-box form > .search-box {
    margin: 0 0 15px;
    position: relative;
}
.left-con-box form > .search-box span{width: 20px; height: 20px; float: right; background: #555;}

.left-con-box form > .search-box input[type="text"] {
    border: 1px solid #dfdfdf;
    color: #666;
    padding: 5px 40px 5px 10px;
    width: 100%;
}

.left-con-box form > .search-box a span {
    background: rgba(0, 0, 0, 0) url("../images/search-icon.png") repeat scroll 0 0;
    border-left: 1px solid #eee;
    float: right;
    height: 31px;
    position: absolute;
    right: 0;
    width: 31px;
}
.box-panel {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #dfdfdf;
    margin: 0 0 15px;
}

 .box-panel > .title {
    background: #ed7d31 none repeat scroll 0 0;
    padding: 5px;
}

.box-panel > .title > h5 {
    color: #fff;
    margin: 3px 5px;
}
.box-panel > .body {
    padding: 10px;
    position: relative;
}
.center-con-box {
    border: 1px solid #eee;
    padding: 15px;
    background: #fff;
}
.right-sec-box {
    background: #eee none repeat scroll 0 0;
    padding: 15px;
}
.left-sec-box {
    padding-left: 0;
}
.right-pending-0 {padding-right: 0;}
.box-panel > .body > span.plus-icon-box {
    background: #70ad47 none repeat scroll 0 0;
    border-radius: 50%;
    bottom: 0;
    color: #fff;
    float: right;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    margin: 6px;
    position: absolute;
    right: 0;
    text-align: center;
    width: 20px;
}
.box-panel > .body > span.plus-icon-box > a {text-decoration: none; color: #fff;}
.welcome_msg { background: #f2bb5c none repeat scroll 0 0;
    color: #fff;
    font-family: "geoslab703_md_btmedium";
    font-size: 15px;
    font-weight: bold;
    padding: 7px 7px 15px 14px;}
.welcome_msg span { color: #383838; }
.slow{display: block !important;}
.signmenu{  background: #f2bb5c none repeat scroll 0 0;
    border-radius: 0 0 10px 10px;
    float: left;
    padding: 8px;
    width: 97%;
}
.signmenu li{ float: left;
    font-size:14px;
    list-style: outside none none;
    margin-left:8px;
    padding:5px;}
   /* .signmenu li:hover{#86AA7C;*/
.signmenu ul{width:100%; padding-left: 0px;}
.signmenu li a span:hover{color:#fff !important;}
#header { border-bottom: 5px solid #F2BB5C; display: inline-block; width: 100%; padding-bottom: 10px; }
.userpic-align{
    height:68px;
}
.userpic{
    width: 68px !important;height: 73px !important;
}