<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Medications</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0 " />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="format-detection" content="telephone=no" />
  <style type="text/css">
  body {
    margin: 0 !important;
    padding: 0 !important;
    -webkit-text-size-adjust: 100% !important;
    -ms-text-size-adjust: 100% !important;
    -webkit-font-smoothing: antialiased !important;
  }
  img {
    border: 0 !important;
    outline: none !important;
    display: inline-block !important;
  }
  </style>
</head>
<body style="margin:0px; padding:0px; font-family:Calibri; box-sizing:border-box;" bgcolor="#ffffff">
  <div class="gm-template">
    <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#ffffff">
      <tr>
        <td align="center" valign="top">
          <table width="1024" border="0" align="center" cellpadding="0" cellspacing="0" style="margin:auto;background-color:#ffffff;">
            
            <tr>
              <td height="15" style="line-height:0px; font-size:0px;">&nbsp;</td>
            </tr>

            <tr>
              <td align="left" valign="top">
                <table width="100%" border="0" align="left" cellpadding="0" cellspacing="0">
                  <tr>
                    <td valign="top" align="left">
                      <a href="index.html"><img src="hospital_logo_img" alt="Sensory Health Systems" /></a>
                    </td>
                    <td width="20" valign="top" align="left" style="line-height:0px; font-size:0px; width:20px;">&nbsp;</td>
                    <td valign="top">
                      <table border="0" align="left" cellpadding="0" cellspacing="0" style="">
                        <tr>
                          <td width="25" valign="top" align="left" style="line-height:0px; font-size:0px; width:25px;"><img width="15" src="hospital_location_img"></td>
                          <td valign="top" align="left" style="color:#eb8613; font-size:22px; font-weight:bold; text-align:left;">hospital_name_for_print</td>
                        </tr>
                        <tr>
                          <td width="25" valign="top" align="left" style="line-height:0px; font-size:0px; width:25px;">&nbsp;</td>
                          <td style="font-size:22px; text-align:left;">hospital_address_for_print</td>
                        </tr>
                        <tr>
                          <td width="25" valign="top" align="left" style="line-height:0px; font-size:0px; width:25px;">&nbsp;</td>
                          <td valign="top" align="left" style="font-size:22px; text-align:left;">hospital_second_address_for_print</td>
                        </tr>
                        <tr>
                          <td width="25" valign="top" align="left" style="line-height:0px; font-size:0px; width:25px;">&nbsp;</td>
                          <td valign="top" align="left" style="font-size:22px; text-align:left;">hospital_city_for_print</td>
                        </tr>
                      </table>
                    </td>
                    <td width="20" valign="top" align="left" style="line-height:0px; font-size:0px; width:20px;">&nbsp;</td>
                    <td valign="top">
                      <table border="0" align="left" cellpadding="0" cellspacing="0" style="">
                        <tr>
                          <td width="25" valign="top" align="left" style="line-height:0px; font-size:0px; width:25px;"> <img width="20" src="hospital_call_img"></td>
                          <td valign="top" align="left" style="color:#000; font-size:22px; text-align:left;">hospital_phone_for_print</td>
                        </tr>
                      </table>
                    </td>
                    <td width="20" valign="top" align="left" style="line-height:0px; font-size:0px; width:20px;">&nbsp;</td>
                    <td valign="top">
                      <table border="0" align="left" cellpadding="0" cellspacing="0" style="">
                        <tr>
                          <td width="25" valign="top" align="left" style="line-height:0px; font-size:0px; width:25px;"> <img width="20" src="hospital_website_img"></td>
                          <td valign="top" align="left" style="color:#000; font-size:22px; text-align:left;">hospital_email_for_print</td>
                        </tr>
                        <tr>
                          <td width="25" valign="top" align="left" style="line-height:0px; font-size:0px; width:25px;">&nbsp;</td>
                          <td style="font-size:22px; text-align:left;">hospital_website_for_print</td>
                        </tr>
                        <tr>
                          <td width="25" valign="top" align="left" style="line-height:0px; font-size:0px; width:25px;">&nbsp;</td>
                          <td style="font-size:22px; text-align:left;">hospital_dhpcode_for_print</td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td height="20" style="line-height:0px; font-size:0px;">&nbsp;</td>
            </tr>
            <tr>
              <td height="5" bgcolor="#455a64" style="line-height:0px; font-size:0px; background-color:#455a64;">&nbsp;</td>
            </tr>

            <tr>
              <td height="25" style="line-height:0px; font-size:0px;">&nbsp;</td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>
</body>
</html>